:root {
  --primary-color: #368BE7;
  --secondary-color: #EE9142;
  --primary-text-color: #333333;
  --title-text-color: #3278C3;
  --muted-text-color: #B5B5B5;
  --light-background: #FCFCFC;
  --border-gray: #C9D1D6;
  --box-shadow-hover: #a5c3ec;
  --white: #FFFFFF;
  --dark-gray: #C4C4C4;
  --text-blue-light: #4196F2;
  --text-error: #E73636;
  --background-gray: #F3F3F8;
  --dark-orange: #FF8D2D;
  --light-orange: #FF9C48;
  /* size-sm */
  --font-sm-1: 12px;
  --font-sm-2: 14px;
  --font-sm-3: 16px;
  --font-sm-4: 18px;
  /* size-md*/
  --font-md: 20px;
  --font-md-1: 22px;
  --font-md-2: 24px;
  --font-md-3: 26px;
  --font-md-4: 28px;
  /* size-lg */
  --font-lg: 30px;
  --font-lg-1: 32px;
  --font-lg-2: 34px;
  --font-lg-3: 36px;
  /* size-xl */
  --font-xl: 50px;
  --font-xl-1: 60px;
  --font-xl-2: 64px;
}