.header {
    background-image: url('../../images/banner-image.png');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
  
    & .banner-title {
      padding-top: 222px;
      max-width: 340px;
      font-weight: bold;
      font-size: 72px;
      line-height: 73px;
      color: #FFFFFF;
  
      & > span {
        color: #FBB03B;
      }
    }
  
    & .banner-link {
      & > i {
        color: #FBB03B;
      }
  
      & > a {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-decoration-line: underline;
        color: #FFFFFF;
      }
    }
  }
  
nav,
nav .header-menu > ul,
nav .header-icon > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding-top: 60px;

  & .header-logo {
    width: 140px;
    height: 34px;
  }

  & .header-menu > ul li {
    padding: 0 96px;
  }

  & .header-menu > ul li a {
    color: #FBB03B;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
  }

  & .header-icon > ul li {
    padding: 0 24px;
  }

  & .header-icon > ul li > i {
    color: #FFFFFF;
  }
}


.section-sub-banner {
  width: 80%;
  background-color: white;
  position: absolute;
  top: 700px;
  height: 100px;
  border-radius: 0px 70px 0px 0px;

  & .sub-banner {
    padding-left: 190px;
  }

  & .sub-banner ul > li {
    max-width: 280px;
    display: flex;
    justify-content: space-between;

    & > i {
      font-size: 36px;
    }

    & .sub-banner-item {
      max-width: 176px;
    }

    & .sub-banner-item {
      & .sub-banner-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
      }

      & .section-desc {
        font-size: 12px;
        line-height: 18px;
        color: #A8A8A8;
      }
    }
  }

  & .sub-banner ul > li:first-child i {
    padding-left: 30px;
  }
}


.section-collection {
  & ul li {
    position: relative;
  }

  & ul li .section-discount {
    position: absolute;
    top: 30%;
    left: 20%;
    background: #FF0000;
    border-radius: 20px;

    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    padding: 6px 10px;
  }

  & ul li .section-title-small {
    position: absolute;
    top: 40%;
    font-size: 24px;
    line-height: 36px;
    color: black;
    max-width: 140px;
    left: 20%;
  }

  & ul li .section-action {
    position: absolute;
    top: 71%;
    left: 20%;
    background: #FFFFFF;
    border-radius: 33px;

    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    padding: 14px;
    border: none;
  }

  & ul li:first-child .section-title-small {
    max-width: unset;
  }

  & ul li > img {
    max-width: unset;
    width: unset;
  }
}


.section-selected {
  margin-top: 110px;

  & ul li {
    position: relative;
  }

  & ul li .section-discount {
    position: absolute;
    top: 5%;
    left: 10%;
    background: #FF0000;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    padding: 6px 10px;
  }

  & ul li .section-name-product {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  & ul li .section-money {
    display: flex;
    justify-content: space-between;

    & .section-price {
      font-size: 20px;
      line-height: 30px;
      color: #FF0000;
    }

    & .section-no-discount {
      font-size: 20px;
      line-height: 30px;
      color: #CECECE;
    }
  }

  & .section-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
  }

  & .selected-top {
    display: flex;
    justify-content: space-between;

    & .section-action {
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 39px;
      padding: 14px 30px;
  
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      color: #333333;
    }
  }
}


.section-benefit {
  margin-top: 50px;
  background: #F7F7F7;
  padding-bottom: 54px;

  & .section-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #333333;
    padding: 48px 0 30px 0;
  }

  & ul li i {
    font-size: 36px;
  }

  & .section-sub-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding: 46px 0 16px 0;
  }

  & .section-desc{
    font-size: 14px;
    line-height: 21px;
    color: #808080;
  }
}


.section-product {
  margin-top: 48px;

  & ul li {
    position: relative;
  }

  & ul li .section-discount {
    position: absolute;
    top: 5%;
    left: 10%;
    background: #FF0000;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    padding: 6px 10px;
  }

  & ul li .section-name-product {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  & ul li .section-money {
    display: flex;
    justify-content: space-between;

    & .section-price {
      font-size: 20px;
      line-height: 30px;
      color: #FF0000;
    }

    & .section-no-discount {
      font-size: 20px;
      line-height: 30px;
      color: #CECECE;
    }
  }

  & .section-title {
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
  }

  & .selected-top {
    display: flex;
    justify-content: space-between;

    & .section-action {
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 39px;
      padding: 14px 30px;
  
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      color: #333333;
    }
  }
}





