$font-family-default: 'Catamaran', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$color: (
  primary: #f3f3f3,
  secondary: #554E8F,
  border: #ebebeb,
  white: #ffffff,
  black: #080808,
  yellow: #fdd835,
  red: #cf2929,
  green: #4fb68d,
  grey-a: #d0d0d0,
  content-text: #999999,
  gray-text: #929292,
  bg-gray: #f7f7f7
);
$font-size: (
  sm: 12,
  md: 14,
  lg: 16,
  xl: 30
);
$font-icon: (
  icon-add: "\e900",
  icon-all: "\e901",
  icon-planning: "\e902",
  icon-completed: "\e903",
  icon-remove: "\e904",
  icon-list: "\e905",
  icon-alls: "\e906",
  icon-close: "\e907",
  icon-trash: "\e908",
),

// $_black-color: #333333;
// $white-color: #FFFFFF;
// $orange: #FBB03B;
// $gray: #A8A8A8;
// $light-gray: #ABABAB;
// $dark-gray: #CECECE;
// $red-color: #FF0000;

// $sm-1: 8px;
// $sm-2: 10px;
// $sm-3: 12px;
// $sm-4: 13px;
// $md-1: 14px;
// $md-2: 16px;
// $md-3: 18px;
// $md-4: 20px;
// $lg-1: 24px;
// $lg-2: 32px;
// $lg-3: 36px;
// $xl-1: 48px;
// $xl-2: 72px;